/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #c7caff;
  color: #000;
}

/* Top Bar */
.top-bar {
  background: blue;
  color: white;
  text-align: left;
  padding: 8px 40px;
  font-size: 14px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}


.logo img{
    height: 350px;
    object-fit: cover;
    margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
}

.logo span {
  color: gray;
}

nav {
    margin-top: 20px;   
}


nav a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: 500;
  padding: 15px;
  transition: 0.3s ease;
}

nav a:hover{
    opacity: 0.7;
}

nav a.active {
  color: blue;
}

.login {
  background: blue;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
}

/* Main Layout */
main {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
}

/* Left Side */
.contact-info {
  width: 50%;
}

.contact-info h1 {
  font-size: 50px;
  margin-bottom: 15px;
}
h3{
    opacity: 0.6;
}
.contact-info p {
  margin: 10px 0;
  line-height: 1.4;
  opacity: 0.6;
}

.bottom-text {
  display: flex;
  gap: 60px;
  margin-top: 250px;
}

/* Right Side (Form) */
.contact-form {
  background: white;
  border-radius: 15px;
  padding: 30px;
  width: 35%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-form h2 {
  margin-bottom: 20px;
}

.name-fields,
.email-fields,
.phone-fields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f0f0f0;
  outline: none;
}

textarea {
  height: 120px;
  resize: none;
  margin-top: 10px;
}

.char-limit {
  text-align: right;
  font-size: 12px;
  color: gray;
}

button[type="submit"] {
  display: block;
  background: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 25px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button[type="submit"]:hover {
    opacity:0.8;
}

.rights {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: gray;
}

