
@import url('global.css');

body {
    font-family: var(--font);
}

header {
    background-color: var(--bg-principal);
    color: var(--defaul-font-color);
    display: flex;
    gap: 10px;
    justify-content: space-around;
    font-weight: 200;
}

.text-1 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.nav-bar-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-nav-1 {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
